th:not(:first-child):not(:last-child) {
  padding: 1px 5px;
} th:first-child {
  padding-right: 5px;
} th:last-child {
  padding-left: 5px;
}

.input-number, .input-char {
  max-width: 70px;
  text-align: center;
}

body {
  margin: 0;
}

html {
  background-color: #212121;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

#screennumber, #rownumber, #columnnumber {
  min-width: 150px;
  text-align: center;
}

#setup .mdc-typography--subheading1 {
  margin-bottom: 0;
}

.firebase-status {
  color: #FAFAFA;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
}

.firebase-console {
  background-color: #FAFAFA;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 64px;
}

.testbox tr {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 5px 0;
}

.testbox td {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  height: 60px;
  margin: 4px;
  text-align: center;
  width: 40px;
} .testbox td:not([sel="true"]):hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
} .testbox td[sel="true"] {
  background-color: #FAFAFA;
  color: black;
} .testbox td[sel="true"]:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

.notice-warning {
  border-left: 4px solid #EED202; /* Safety Yellow */
  color: #EED202; /* Safety Yellow */
  padding-left: 6px;
  text-align: left;
}
